.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

img{
  width:100%;
}

.header_logo{
  width:10%;
}

.header_nav_list{
  display:flex;
}

.header_item{
  margin-right:20px;
  color:grey;
  font-weight:bold;
  font-size:12px;
}

.commit{
  position:relative;
  width:100%;
 
  
}

.commit_img{
  width:60%;
  margin :0 0 0 auto;
}

.commit_detail{
  position:absolute;
  top:80px;
  left:20%;
}

.commit_title{
  font-size:50px;
  color:#8D305A;
  line-height:100PX;
}

.commit_title_required{
  color:aqua;
}

.commit_text{
  margin-top:50px;
  font-size:20px;
  color:#8D305A;
  font-weight:bold;
  line-height:40px;
}

.commit_text_required{
  color:aqua;
  font-weight:bold;
}

.commit_since{
  color:gray;
  line-height:20px;
}


.News{
  margin:40px auto;
  width:50%;
}

.News_small_title{
  font-size:10px;
}


.News_title{
  margin:10px 0px 20PX;
}

.News_table{
  border-top:1px solid grey;
  border-bottom:1px solid grey;
  width:100%;
  
}

.News_table tr{
  
  border-bottom:1px solid #f2f2f2;
  display:flex;
  align-items:center;
  
  font-size:12px;
  padding:12px 0px;
  
  

  
}

.News_table tr:nth-child(5){
  border-bottom:1px solid #f2f2f2;
  margin-bottom:20px;


}

.News_table tr:nth-child(1){
  padding-top:20px;
}



.News_table th span{
  background-color:#8D305A;
  margin:0px 20px ;
  padding:2px 10px;
  border-radius: 10px;
  color:white;
}

.About{
  margin:20px auto;
  width:80%;
  background-color:#f2f2f2;
  padding:20px 0;
}

.About_img{
  width:30%;
}

.About_detail{
  display:flex;
  justify-content:space-around;
  margin-top:20px;
  }

  
  .About_small_title{
    text-align:center;
    font-size:10px;
  }

  .About_title{
    text-align:center;
    margin:10px 0px;
  }


  .About_text{
    font-size:12px;
    width:30%;
    line-height:20px;
    color:grey;
  }

  .About_text_1{
    margin-bottom:20px;
    
  }

  .Service{
     width:70%;
     
     margin:20px auto;
     
  }

  .Service_contents{
    display:flex;
    margin-top:20px;
    width:100%;
    
  }

  

  .Service_content_1_img{
    width:30%;
  }

  .Service_content_1{
    
    width:50%;
    text-align:center;
    background-color:#D7006A;
    padding:20px;
    color:white;
  }

  .Service_content_2{
    display:flex;
    background-color:#C97586;
    padding:20px;
    color:white;
  }

  .Service_content_2_img{
    width:30%;
  }

  .Service_content_3{
     display:flex;
     background-color:#C08FB3;
     color:white;
     padding:20px;
  }

  .Service_content_3_img{
    width:30%;
  }

  .Service_content{
    width:50%;
  }

  .Service_content_1 h3{
    padding:10px 0px;
  }

  .Service_content_1 p{
    font-size:12px;
    line-height:20px;
  }

  .Service_content_2 h3{
    margin-bottom:10px;
  }

  .Service_content_2 p{
    font-size:12px;
    line-height:18px;
  }

  .Service_content_3 h3{
    margin-bottom:10px;
    
  }

  .Service_content_3 p{
    font-size:12px;
    line-height:18px;
  }

  .Service_content_2_text{
    margin-left:10px;
  }

  .Service_content_3_text{
    margin-left:10px;
  }

  .Service_small_title{
     font-size:10px;
  } 

  .Service_title{
     margin-top:10px;
  }

  .Blog{
    width:100%;
    background-color:#f2f2f2;
    padding-bottom:10px;
  }

  .Blog_small_title{
    font-size:10px;
    padding:10px 0px;
  }

  .Blog_cards{
    display:flex;
    width:100%;
    
  }



  .Blog_card_img{
    width:100%;
  }

  .Blog_card{
    width:30%;
    border:1px solid black;
    border-radius:6px;
    margin:20px 20px 20px 0px;
    position:relative;
    

  }

  .Blog_card::before{
    
    content:"Blog";
    color:white;
    width:20%;
    background-color:#D7006A;
    position:absolute;
    font-size:12px;
    padding:5px;
    text-align:center;
    
  }

  .Blog_content{
    margin:20px auto;
    width:70%;
    
  }

  .Blog_card_text{
    font-size:12px;
    line-height:18px;
    padding:10px;
    font-weight:bold;
  }

  .Blog_card_parts{
    display:flex;
    justify-content:space-between;
    font-size:10px;
  }
  
  .Blog_btn{
   margin:0  auto;
    display:block;
    width:20%;
    background-color:white;
    text-align:center;
    border:1px solid #8D305A;
    border-radius:20px;
    padding:14px 0px;
    font-size:12px;
    color:#8D305A;
    font-weight:bold;
    
  }

  .Company{
    width:50%;
    margin:20px auto;
  }

  .Company_content{
    width:100%;
  }

  .Company_detail{
    width:100%;
    margin-top:20px;
    
  }

  .Company_detail_item{
    border-top:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
   
    display:flex;
    
    
  }

  .Company_detail_item:nth-child(6){
    border-bottom:1px solid #CCCCCC;
    
  }

  .Company_detail_item th{
    background-color:#f2f2f2;
    width:30%;
    padding:15px;
    font-size:12px;
    font-weight:bold;
    border-right:1px solid #CCCCCC;
    
  }

  .Company_detail_item td{
    width:70%;
    padding:15px;
    font-size:12px;
    color:grey;
  }

  .Company_small_title{
    font-size:10px;
    margin-bottom:10px;
  }

  .Company_title{
    color:grey;
  }

  .other{
    width:100%;
    display:flex;
    margin-top:50px;
  }

  .recruit{
    position:relative;
    
  }

  .recruit_title{
     position:absolute;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
     
    
  }

  .recruit_title a{
    color:white;
    font-size:20px;
  }

  .interview{
    position:relative;
  }

  .interview_title{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }

  .interview_title a{
    color:white;
    font-size:20px;
  }

  .Toiawase{
    width:30%;
    margin:30px  auto;
    
    text-align:center;
  }

  .Toiawase_text{
     font-size:15px;
     color:grey;
     font-weight:bold;
     
  }

.Toiawase_btn{
  display:block;
  margin:50px auto;
  background:linear-gradient(90deg,#FF3399,#99004d);
  width:30%;
  text-align:center;
  padding:18px 34px;
  font-size:12px;
  border-radius:20px;
  color:white;
  box-shadow:0px 5px #8D305A;
  position:relative;
}

.Toiawase_btn::before{
  content:"";
  position:absolute;
  top:50%;
  left:15px;
  background:url(../img/mailicon.svg) no-repeat ;
  background:cover;
  width:20px;
  height:20px;
  transform:translate(0%,-50%);
}


  .Toiawase_btn::after{

  }

  small{
    width:100%;
    background-color:#f2f2f2;
    display:block;
    text-align:center;
    padding:10px 0px;
    font-size:10px;
    color:grey;

  }



  

  